<footer>
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-column">
          <strong>Support</strong>
          <ul>
            <li>
              <a href="#">HanHuyen, Thu Duc, HCM</a>
            </li>
            <li>
              <a href="#">lapshop@gmail.com</a>
            </li>
            <li>
              <a href="#">555-555-555</a>
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <strong>Account</strong>
          <ul>
            <li>
              <a href="#">My account</a>
            </li>
            <li>
              <a href="/login">Login</a> / <a href="/register">Register</a>
            </li>
            <li>
              <a href="/cart">Cart</a>
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <strong>Quick link</strong>
          <ul>
            <li>
              <a href="#">Privacy policy</a>
            </li>
            <li>
              <a href="#">Term of uses</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <strong>Contact</strong>
          <div class="contact-icons">
            <a href=""> <i class="fa-brands fa-facebook"></i></a>
            <a href=""> <i class="fa-brands fa-x-twitter"></i></a>
            <a href=""> <i class="fa-brands fa-instagram"></i></a>
            <a href=""> <i class="fa-brands fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-row">
        <div class="footer-column">
          <div class="copyright">
            &copy;Copyright UIT 2022.All right reserved
          </div>
        </div>
      </div>
    </div>
  </footer>