<nav class="sub-nav">
  <ul>
    <li><a href="/product-page">All</a></li>
    <li><a href="/product-page?category=laptop">Laptop</a></li>
    <li><a href="/product-page?category=keyboard">Keyboard</a></li>
    <li><a href="/product-page?category=screen">Screen</a></li>
    <li><a href="/product-page?category=mouse">Mouse</a></li>
    <li><a href="/product-page?category=headsphone">Headsphone</a></li>
  </ul>
</nav>
